# node
node_modules/
package-lock.json

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# macOS
.DS_Store

# Android
android/build/
android/app/build/
android/app/.cxx/
.gradle/

# iOS
ios/build/
ios/ios/build/
ios/Pods/

# Metro
.expo/
.expo-shared/

# misc
.env